<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Registre un gatito MEOW</title>
    </head>
    <body>
      <h1>Registro</h1>
      <form method="POST" action="/cat1/register">
        <label>Nombre del gatito:</label>
        <input type="text" name="nGato" /><br />
        <label>Dueño del gatito:</label>
        <input type="text" name="nDuenio" /><br />
        <label>Edad del gatito:</label>
        <input type="text" name="edadGato" /><br />
        <input type="submit" value="Registrar"/>
      </form>
    </body>
</html>